Repository argoproj/argo-rollouts, pull requests merged in 2021-09, with the labels that each got.

#1471 fix: create analysisrun cmd using template generated name
  pkg/kubectl-argo-rollouts/cmd/create/create.go
  pkg/kubectl-argo-rollouts/cmd/create/create_test.go
  pkg/kubectl-argo-rollouts/cmd/create/testdata/analysis-template-no-name.yaml
  utils/analysis/helpers.go
  utils/analysis/helpers_test.go
Labels: bug, kubectl-plugin

#1478 feat: provide shell completion. Closes #619
  mkdocs.yml
  pkg/kubectl-argo-rollouts/cmd/cmd.go
  pkg/kubectl-argo-rollouts/cmd/completion/completion.go
  pkg/kubectl-argo-rollouts/cmd/completion/completion_test.go
Labels: kubectl-plugin

#1535 Fix: Failed analysis to degrade rollout when multiple metrics are analyzed
  analysis/analysis.go
  test/e2e/analysis_test.go
  test/e2e/functional/analysistemplate-fail-multiple-job.yaml
  test/e2e/functional/rollout-degraded-inline-multiple-analysis.yaml
Labels: cherry-pick/release-1.0
